
.row
  .small-12.columns
    %ul.small-block-grid-3
      - @websites.each do |website|
        %li
          .website_box
            %h3.text-center= website.title
.row
  .small-12.columns
    %br
      = link_to 'New Website', new_website_path
