// Place all the styles related to the websites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Zeyada);

$one: #AC2832;
$two: #000000;
$three: #DFD297;
$four: #FFFFFF;


html
{
  body
  {
    background: $four;

    #logo_text
    {
      font-family: 'Zeyada', cursive;
      font-size: 209px;
      position: absolute;
      color: white;
      top: 15px;
      left: 38px;
    }

    .row
    {
      background: white;

      .authbuttons
      {
        margin-top: 20px;
      }
    }

    .website_box
    {
      background: white;
      border: inset 5px grey;
      border-radius: 13px;
      overflow: hidden;
      text-align: center;
      -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);

      .description
      {
        text-align: justify;
        margin: 23px 30px 20px 30px;
        font-size: 12px;
      }

      h3.title:after
      {
          content:' ';
          display:block;
          border:2px solid #d0d0d0;
          border-radius:4px;
          -webkit-border-radius:4px;
          -moz-border-radius:4px;
          box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
          -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
          -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
          margin-left: 19px;
          -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          width: 232px;
          margin-top: 15px;
      }

      .example_image
      {
        width: 100%;
      }

      .title
      {
        margin: 20px 15px 0px 15px;
      }
    }
  }
}
